* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif
}

html {
  scroll-behavior: smooth;
}

body {
  background-color:  #f2f2f2;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #000000;
}

.navbar {
  display: flex;
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar .all-links {
  display: flex;
  align-items: center;
}

.navbar .all-links li {
  position: relative;
  list-style: none;
}

.navbar .logo {
  display: flex;
  align-items: center;
  margin-left: 0;
  color: white;
}

header a {
  margin-left: 50px;
  text-decoration: none;
  color: #fff;
  height: 100%;
  padding: 20px 0;
  display: inline-block;
}

header a:hover {
  color: #51ff00;
  transition: 0.7s;
}

  section {
    margin-top: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 0 0;
  }

.pb-video-container {
    padding-top: 10px;
    background: #bdc3c7;
    font-family: Lato;
}

.pb-video {
    border: none;
    padding: 5px;
}

.pb-video:hover {
    background: #00d02d;
}

.pb-video-frame {
    transition: width 3s, height 5s;
}

.pb-row {
    margin-bottom: 50px;
}

footer {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #000;
    padding: 20px 0;
    position: fixed;
}
    
footer p {
    color: #fff;
}

@media screen and (max-width: 480px) {
    .navbar .all-links {
      position: fixed;
      left: -100%;
      width: 300px;
      display: block;
      height: 100vh;
      top: 75px;
      background: #333;
      transition: left 0.3s ease;
    }
  
    .navbar .all-links li {
      font-size: 18px;
    }
}
  